@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Great+Vibes&family=Montserrat:wght@300&family=Poppins&display=swap');

*{font-family: 'Poppins', sans-serif}
body{
    box-sizing: border-box;
    width: 100%;
    margin: 0%;
}
#parent{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-top: 40px;
}
#post{
  position: fixed;
  margin-top: -10px;
  padding-top: 0px;
}
#child-1{
    display: flex;
    justify-content: space-between;
    background-color:#f6f6fb;
}
#child-1>div{
    /* border: 1px solid red; */
    width: 25%;
}
#child-2{
    width: 100%;
    margin-top :-10px;
}
#image>img{
    width: 80%;
    height: 80px;
    display: block;
    margin: auto;
}
#search>input{
    margin-left: -40px;
    margin-top: 25px;
    width: 150%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(216, 213, 213);
    outline: none;
}
#cont img:nth-child(1){
    margin-left: 50%;
}
#cont>img{
    width: 8%;
    padding: 5px;
    margin-top: 20px;
}

#child-2>ul{
    display: flex;
    padding: 0px 40px;
}
#child-2>ul>li{
    list-style: none;
    padding: 0px 20px;
}
body>div:nth-child(1){
    width: 100%;
    margin-top: -20px;
    background-color: rgb(36,123,160);
    padding: 1px;
    color: white;
}
body>div:nth-child(1)>p{
    text-align: center;
    padding: 8px;
    margin-bottom: -0.2px;
}

  #grid {
    width: 85%;
    display: grid;
    grid-gap: 20px;
    padding: 20px;
    grid-template-rows: auto;
    grid-template-areas:
      "fir fir fir sec sec"
      "fir fir fir sec sec"
      "fir fir fir thr for";
    margin: auto;
  }
  #grid > div:nth-child(1)>#btn-1{
    position: absolute;
    top: 80%;
    left: 9%;
    transform: translate(-50%,-50%);
    background-color: transparent;
    color: white;
    font-size: 16px;
    padding: 12px 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-size: 40px;
  }
  #grid > div:nth-child(1)>#btn-2{
    position: absolute;
    top: 80%;
    right: 10%;
    transform: translate(-854%,-50%);
    background-color: transparent;
    color: white;
    font-size: 16px;
    padding: 12px 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-size: 40px;
  }
  #grid > .border > img{
    width: 100%;
    height: 100%;
  }
  #grid > div:nth-child(1) {
    grid-area: fir;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 180px;
  }
  #grid > div:nth-child(1) > h2 {
    margin: 10px;
    font-size: 40px;
    color: white;
  }
  #grid > div:nth-child(2) {
    background-color: antiquewhite;
    grid-area: sec;
    margin-bottom: 100px;
    margin-top: 180px;
  }
  #grid > div:nth-child(3) {
    background-color: gold;
    grid-area: thr;
    margin-top: -100px;
  }
  #grid > div:nth-child(4) {
    background-color: aquamarine;
    grid-area: for;
    margin-top: -100px;
  }
  #container-2 {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  #container-2 > div {
    width: 32%;
  }
  #container-2  div > img {
    width: 100%;
    border-radius: 30px;
  }
  #container-3 {
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-between;
  }
  #container-3 > div {
    width: 19%;
  }
  #container-3 > div > img {
    width: 100%;
    height: 200px;
  }
  #container-4 {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #container-4 > div > img {
    width: 70%;
    display: block;
    margin: auto;
  }

  #container-4 > div > p {
    text-align: center;
    padding-bottom: 40px;
  }
  #footer{
    display: flex;
    width: 100%;
    background: rgb(160, 156, 157);
    justify-content: space-between;
  }
  #footer > div > div >img{
    width: 40px;
    margin-right: 10px;
  }

  #div-2{
    color: white;
    margin-top:80px;
    width: 40%;
    margin-right: 140px;
  }
  #div-2>div{
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    line-height: 4px;
    margin-bottom: 80px;
  }
  #div-2>button{
    font-size: medium;
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    display: block;
    margin: auto;
    background-color: papayawhip;
    margin-bottom: 10px;
  }

  #div-1{
    width: 30%;
    margin-left: 180px;
    margin-top: 70px;
  }

  #div-1>button{
    width: 70%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #65C297;
    border-radius: 10px;
  }
  #div-1>button>a{
    text-decoration: none;
    font-size: medium;
    color: white;
  }
#featured{
  text-align: center;
  margin: 50px 0px;
  letter-spacing: 5px;
  font-size: 24px;
  color: rgb(155, 153, 153)
}

#heading{
  text-align: center;
  margin: 50px 0px 40px 0px;
  letter-spacing: 5px;
  font-size: 24px;
  color: rgb(155, 153, 153)
}
#hr{
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom :20px;
}
a{
  text-decoration: none;
  color: black;
  font-size: 13px;
}
#content{
   display: none;
   max-height: 400px;
   border: 1px solid black;
   overflow: scroll;
   width: 520px;
   position: absolute;
   background-color: white;
   opacity: 10;
   margin-left: -40px;
   border-radius: 9px;
   padding: 10px;
   overflow-x: hidden;
   overflow-y: auto;
}
#content > div{
  padding: 0 10px 0 10px;
}
#content > div > h5{
  margin-left: 30px;
}